<h2>Update a blog post</h2>

<!-- The f block param is called a form builder it will help build our form.
f is aware that  a Post has a:
--title
--content
-->

<%= form_for @post do |f| %>

<% if @post.errors.any? %>
  <p style="color:red;">All post require a title and content</p>
<% end %>

<div>
  <%= f.label :title%>
  <!--generated a html label element-->
  <br>
  <%= f.text_field :title %> <!--generate an input-->
</div>
<div>
  <%= f.label :content%>
  <!--generated a html label element-->
  <br>
  <%= f.text_area :content %> <!--generate an input-->
</div>
<div>
  <%= f.submit "Update blog post"%>
</div>
<% end %>